body {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

.btn {
    line-height: 1rem !important;
    font-size: 12px;
    font-weight: 500;
}


.logo {
    max-height: 32px;
}

.form-control {
    font-size: 12px;
}

button#button-addon2 {
    line-height: 1rem !important;
    height: 2rem !important;
}

.navbar-search {
    max-width: 500px !important;
}

.owl-item.active.center {
    width: 600px !important;
    overflow: visible !important;
}


@media (min-width: 576px) { ... }

@media (min-width: 768px) { ... }

@media (min-width: 992px) {

    nav {
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .navbar-search {
        width: 500px !important;
    }
    
}

@media (min-width: 1200px) { ... }